#header_link{
    text-align: center;
}
#welcome_message{
    text-align: center;
}
#contact{
    text-align: center;
}
body{
    background-color: rgb(50, 50, 50);
    background-image: url("./img/bg.jpg");
    color:white;
}
a:link{
    color:wheat;
}
a:hover{
    color:hotpink;
}
a:visited{
    color:lightskyblue;
}